* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.grid-container,
.color-container,
.controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-container {
  gap: 10px;
}

.controls-container {
  gap: 40px;
}
